In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../CSV Files/raw_playerprofile_dataset.csv')

In [3]:
df.head()

,player_id,player,img_url,born,birth_place,height,role,bat_style,bowl_style
0,25,Sachin Tendulkar,/a/img/v1/152x152/i1/c171004/sachin-tendulkar.jpg,"Apr 24, 1973 (48 years)","Bombay (now Mumbai), Maharashtra",5 ft 5 in,Batsman,Right Handed Bat,Right-arm legbreak
1,26,Virender Sehwag,/a/img/v1/152x152/i1/c171002/virender-sehwag.jpg,"Oct 20, 1978 (42 years)",Delhi,5 ft 8 in (173 cm),Batsman,Right Handed Bat,Right-arm offbreak
2,27,Rahul Dravid,/a/img/v1/152x152/i1/c156286/rahul-dravid.jpg,"Jan 11, 1973 (48 years)","Indore, Madhya Pradesh",--,Batsman,Right Handed Bat,Right-arm offbreak
3,28,VVS Laxman,/a/img/v1/152x152/i1/c156770/vvs-laxman.jpg,"Nov 01, 1974 (46 years)","Hyderabad, Andhra Pradesh",--,--,Right Handed Bat,Right-arm offbreak
4,29,Sourav Ganguly,/a/img/v1/152x152/i1/c171006/sourav-ganguly.jpg,"Jul 08, 1972 (49 years)","Calcutta (now Kolkata), Bengal",5 ft 11 in,Batsman,Left Handed Bat,Right-arm medium

In [4]:
df1 = pd.read_csv('../CSV Files/raw_playerprofile_dataset_part2.csv')

In [5]:
df1.head()

,player_id,player,img_url,born,birth_place,height,role,bat_style,bowl_style
0,20002,Isabel van der Woning,/a/img/v1/152x152/i1/c182026/isabel-van-der-wo...,--,--,--,Bowling Allrounder,Right Handed Bat,Right-arm medium
1,20006,Jasmine Naeem,/a/img/v1/152x152/i1/c182026/jasmine-naeem.jpg,--,--,--,--,Right Handed Bat,England
2,20011,Toby Greatwood,/a/img/v1/152x152/i1/c182026/toby-greatwood.jpg,"Oct 21, 2001 (20 years)","High Wycombe, Buckinghamshire",--,--,Right Handed Bat,Right-arm medium
3,20012,Max Harris,/a/img/v1/152x152/i1/c182026/max-harris.jpg,"Aug 17, 2001 (20 years)",London,--,--,Right Handed Bat,Right-arm fast-medium
4,20016,Ben Wells,/a/img/v1/152x152/i1/c182026/ben-wells.jpg,"Jul 30, 2000 (21 years)","Bath, Somerset, England",--,WK-Batsman,Right Handed Bat,Gloucestershire

In [7]:
len(df), len(df1)

(13335, 340)

In [8]:
len(df) + len(df1)

13675