## Imports

In [1]:
import glob
import pandas as pd

## Combine Match by Match CSV files

In [2]:
# importing multiple files in a directory, ignore files with _info
l = [pd.read_csv(filename) for filename in glob.glob("t20s_csv2\*.csv") if (("_info") not in filename) and (("all") not in filename)]
df = pd.concat(l, axis = 0)

## Sneak peak

In [3]:
df.tail()

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,...,extras,wides,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed
231,995469,2016,2016-09-09,R Premadasa Stadium,2,17.1,Australia,Sri Lanka,TM Head,PM Nevill,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
232,995469,2016,2016-09-09,R Premadasa Stadium,2,17.2,Australia,Sri Lanka,PM Nevill,TM Head,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
233,995469,2016,2016-09-09,R Premadasa Stadium,2,17.3,Australia,Sri Lanka,TM Head,PM Nevill,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
234,995469,2016,2016-09-09,R Premadasa Stadium,2,17.4,Australia,Sri Lanka,TM Head,PM Nevill,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
235,995469,2016,2016-09-09,R Premadasa Stadium,2,17.5,Australia,Sri Lanka,TM Head,PM Nevill,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# unique seasons
df.season.unique()

array(['2016/17', 2016, 2017, '2017/18', 2018, '2018/19', 2019, '2019/20',
       2020, '2020/21', 2021, '2021/22', 2022, '2022/23', 2005, '2004/05',
       '2005/06', 2006, '2006/07', 2007, '2007/08', 2008, 2009, '2008/09',
       '2009/10', 2010, '2010/11', 2011, '2011/12', '2012/13', 2012, 2013,
       '2013/14', 2014, '2014/15', 2015, '2015/16'], dtype=object)

## Check for duplicates

In [5]:
len(df)-len(df.drop_duplicates())

11

In [6]:
# remove duplicates
df = df.drop_duplicates(keep = 'first')

## Sort by dates

In [7]:
# sort by required order - date, matchid, innings, ball_number
df['start_date'] = pd.to_datetime(df['start_date'])
df = df.sort_values(['start_date', 'match_id', 'innings', 'ball'], ascending = True)

## Check after sorting

In [8]:
df.head()

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,...,extras,wides,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed
0,211048,2004/05,2005-02-17,Eden Park,1,0.1,Australia,New Zealand,AC Gilchrist,MJ Clarke,...,1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,211048,2004/05,2005-02-17,Eden Park,1,0.2,Australia,New Zealand,AC Gilchrist,MJ Clarke,...,1,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
2,211048,2004/05,2005-02-17,Eden Park,1,0.3,Australia,New Zealand,MJ Clarke,AC Gilchrist,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,211048,2004/05,2005-02-17,Eden Park,1,0.4,Australia,New Zealand,MJ Clarke,AC Gilchrist,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,211048,2004/05,2005-02-17,Eden Park,1,0.5,Australia,New Zealand,AC Gilchrist,MJ Clarke,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Size of the data

In [9]:
len(df)

540332

## Most latest match

In [10]:
df.tail(1)

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,...,extras,wides,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed
250,1298144,2022/23,2022-10-20,"GMHBA Stadium, South Geelong, Victoria",2,19.6,Namibia,United Arab Emirates,R Trumpelmann,BM Scholtz,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## No of matches
<!-- 475360 -->

In [11]:
df.match_id.nunique()

2365

## Export to single CSV

In [12]:
df.to_csv('T20I_ball_by_ball_updated.csv', index = False)