## Imports

In [1]:
import pandas as pd
import numpy as np
import glob
import io

import warnings
warnings.filterwarnings('ignore')

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.expand_frame_repr', False)
pd.set_option('max_colwidth', -1)

## Matches.csv

In [2]:
# list of all matches
matches_list = [filename for filename in glob.glob("odis_csv\*.csv")]

# total matches
matches_count = len(matches_list)

In [3]:
all_col_names = []

# match id, cols count, cols
raw_df = pd.DataFrame(index=np.arange(matches_count), columns=['m_id', 'cols_count', 'cols'])

for i in range(matches_count):
    raw_df['m_id'][i] = matches_list[i].split('\\')[1].split('.')[0]
    
    # 22, 21, 20, 19, 18
    match_path = matches_list[i]
    try:
        temp_df = pd.read_csv(match_path, nrows = 21, skiprows=1, header=None)
    except:
        try:
            temp_df = pd.read_csv(match_path, nrows = 20, skiprows=1, header=None)
        except:
            try:
                temp_df = pd.read_csv(match_path, nrows = 19, skiprows=1, header=None)
            except:
                try:
                    temp_df = pd.read_csv(match_path, nrows = 18, skiprows=1, header=None)
                except:
                    try:
                        temp_df = pd.read_csv(match_path, nrows = 17, skiprows=1, header=None)
                    except:
                        try:
                            temp_df = pd.read_csv(match_path, nrows = 16, skiprows=1, header=None)
                        except:
                            try:
                                temp_df = pd.read_csv(match_path, nrows = 15, skiprows=1, header=None)
                            except:
                                print(f"Error: {matches_list[i]}")
                        
    # transformation to get all the columns without losing duplicates
    temp_df.columns = ['col0', 'col1', 'col2']
    mask = temp_df['col1'].duplicated(keep=False)
    temp_df.loc[mask, 'col1'] += temp_df.groupby('col1').cumcount().add(1).astype(str)
    cols_list = list(temp_df.col1)
    
    # add column count
    raw_df['cols_count'][i] = len(cols_list)
    
    # capture all column names
    all_col_names.append(cols_list)
    
    # convert list to string
    raw_df['cols'][i] = str(cols_list)

flat_list = [item for sublist in all_col_names for item in sublist]
all_unique_col_names = list(set(flat_list))

# an empty dataframe with all unique col names
df = pd.DataFrame(columns=all_unique_col_names)

In [4]:
for i in range(matches_count):
    # 22, 21, 20, 19, 18
    match_path = matches_list[i]
    try:
        temp_df = pd.read_csv(match_path, nrows = 21, skiprows=1, header=None)
    except:
        try:
            temp_df = pd.read_csv(match_path, nrows = 20, skiprows=1, header=None)
        except:
            try:
                temp_df = pd.read_csv(match_path, nrows = 19, skiprows=1, header=None)
            except:
                try:
                    temp_df = pd.read_csv(match_path, nrows = 18, skiprows=1, header=None)
                except:
                    try:
                        temp_df = pd.read_csv(match_path, nrows = 17, skiprows=1, header=None)
                    except:
                        try:
                            temp_df = pd.read_csv(match_path, nrows = 16, skiprows=1, header=None)
                        except:
                            try:
                                temp_df = pd.read_csv(match_path, nrows = 15, skiprows=1, header=None)
                            except:
                                print(f"Error: {matches_list[i]}")
                        
    # transformation to get all the columns without losing duplicates
    temp_df.columns = ['col0', 'col1', 'col2']
    mask = temp_df['col1'].duplicated(keep=False)
    temp_df.loc[mask, 'col1'] += temp_df.groupby('col1').cumcount().add(1).astype(str)
    
    tempdf_keys = list(temp_df.col1)
    tempdf_values = list(temp_df.col2)                    
    
    temp_dict = dict(zip(tempdf_keys, tempdf_values))
    temp_df = pd.DataFrame([temp_dict])
    
    df = pd.concat([df, temp_df], axis = 0)

In [5]:
df.head()

         date reserve_umpire1 eliminator                                         venue toss_decision     team2 player_of_match2 gender match_number reserve_umpire2 date3 match_referee date1 winner_wickets        umpire2                             event date2 winner_runs neutralvenue toss_winner outcome method reserve_umpire      tv_umpire     winner balls_per_over player_of_match1      umpire1      team1      city  player_of_match   season
0  2017/01/13  NaN             NaN        Brisbane Cricket Ground, Woolloongabba        bat           Pakistan  NaN              male   1            NaN             NaN   JJ Crowe      NaN   NaN            C Shamshuddin  Pakistan in Australia ODI Series  NaN   92          NaN          Australia   NaN     NaN    SJ Nogajski    CB Gaffaney    Australia  6              NaN              MD Martell   Australia  Brisbane  MS Wade          2016/17
0  2017/01/15  NaN             NaN        Melbourne Cricket Ground                      bat           Pakistan  NaN              male   2            NaN             NaN   JJ Crowe      NaN   6              P Wilson       Pakistan in Australia ODI Series  NaN   NaN         NaN          Australia   NaN     NaN    SJ Nogajski    C Shamshuddin  Pakistan   6              NaN              CB Gaffaney  Australia  NaN       Mohammad Hafeez  2016/17
0  2017/01/19  NaN             NaN        Western Australia Cricket Association Ground  field         Pakistan  NaN              male   3            NaN             NaN   JJ Crowe      NaN   7              C Shamshuddin  Pakistan in Australia ODI Series  NaN   NaN         NaN          Australia   NaN     NaN    P Wilson       CB Gaffaney    Australia  6              NaN              SD Fry       Australia  Perth     SPD Smith        2016/17
0  2017/01/22  NaN             NaN        Sydney Cricket Ground                         bat           Pakistan  NaN              male   4            NaN             NaN   JJ Crowe      NaN   NaN            MD Martell     Pakistan in Australia ODI Series  NaN   86          NaN          Australia   NaN     NaN    P Wilson       C Shamshuddin  Australia  6              NaN              CB Gaffaney  Australia  NaN       DA Warner        2016/17
0  2017/01/26  NaN             NaN        Adelaide Oval                                 bat           Pakistan  NaN              male   5            NaN             NaN   JJ Crowe      NaN   NaN            C Shamshuddin  Pakistan in Australia ODI Series  NaN   57          NaN          Australia   NaN     NaN    SJ Nogajski    CB Gaffaney    Australia  6              NaN              SD Fry       Australia  NaN       DA Warner        2016/17

In [6]:
# if date is missing -> add date from date1
df['date'] = df.apply(lambda x: x['date1'] if pd.isnull(x['date']) else x['date'], axis = 1)

In [7]:
# format date from string to datetime object
df['date'] = df['date'].astype('datetime64[ns]')

In [8]:
# matchId list
matchId_list = list(raw_df.m_id)

In [9]:
df['matchId'] = matchId_list

In [10]:
df.head()

        date reserve_umpire1 eliminator                                         venue toss_decision     team2 player_of_match2 gender match_number reserve_umpire2 date3 match_referee date1 winner_wickets        umpire2                             event date2 winner_runs neutralvenue toss_winner outcome method reserve_umpire      tv_umpire     winner balls_per_over player_of_match1      umpire1      team1      city  player_of_match   season  matchId
0 2017-01-13  NaN             NaN        Brisbane Cricket Ground, Woolloongabba        bat           Pakistan  NaN              male   1            NaN             NaN   JJ Crowe      NaN   NaN            C Shamshuddin  Pakistan in Australia ODI Series  NaN   92          NaN          Australia   NaN     NaN    SJ Nogajski    CB Gaffaney    Australia  6              NaN              MD Martell   Australia  Brisbane  MS Wade          2016/17  1000887
0 2017-01-15  NaN             NaN        Melbourne Cricket Ground                      bat           Pakistan  NaN              male   2            NaN             NaN   JJ Crowe      NaN   6              P Wilson       Pakistan in Australia ODI Series  NaN   NaN         NaN          Australia   NaN     NaN    SJ Nogajski    C Shamshuddin  Pakistan   6              NaN              CB Gaffaney  Australia  NaN       Mohammad Hafeez  2016/17  1000889
0 2017-01-19  NaN             NaN        Western Australia Cricket Association Ground  field         Pakistan  NaN              male   3            NaN             NaN   JJ Crowe      NaN   7              C Shamshuddin  Pakistan in Australia ODI Series  NaN   NaN         NaN          Australia   NaN     NaN    P Wilson       CB Gaffaney    Australia  6              NaN              SD Fry       Australia  Perth     SPD Smith        2016/17  1000891
0 2017-01-22  NaN             NaN        Sydney Cricket Ground                         bat           Pakistan  NaN              male   4            NaN             NaN   JJ Crowe      NaN   NaN            MD Martell     Pakistan in Australia ODI Series  NaN   86          NaN          Australia   NaN     NaN    P Wilson       C Shamshuddin  Australia  6              NaN              CB Gaffaney  Australia  NaN       DA Warner        2016/17  1000893
0 2017-01-26  NaN             NaN        Adelaide Oval                                 bat           Pakistan  NaN              male   5            NaN             NaN   JJ Crowe      NaN   NaN            C Shamshuddin  Pakistan in Australia ODI Series  NaN   57          NaN          Australia   NaN     NaN    SJ Nogajski    CB Gaffaney    Australia  6              NaN              SD Fry       Australia  NaN       DA Warner        2016/17  1000895

In [11]:
# export file
df.to_csv('matches_updated_odis.csv', index = False)

## Deliveries.csv

In [12]:
def populate_bowling_team(match_id, batting_team, matches_df):
    
    team1 = matches_df[matches_df.matchId == match_id]['team1'].item()
    team2 = matches_df[matches_df.matchId == match_id]['team2'].item()
    
    if batting_team == team1:
        return team2
    else:
        return team1

In [13]:
# use any of the following column names
deliveries_cols = ['ball', 'inning', 'over_ball', 'batting_team', 'batsman', 'non_striker', 'bowler', 'batsman_runs',
               'extras', 'isWide', 'isNoBall', 'Byes', 'LegByes', 'Penalty', 'dismissal_kind', 'player_dismissed']

all_deliveries_df = pd.DataFrame(columns=deliveries_cols)

for i in range(matches_count):
    # fetch match id
    match_id = matches_list[i].split('\\')[1].split('.')[0]
    
    # 22, 21, 20, 19, 18
    match_path = matches_list[i]
    
    # iterate through each match
    temp_df = pd.read_csv(match_path, usecols=['version'])
    temp_df['info_ball'] = temp_df.index
    no_of_rows_to_skip = temp_df.info_ball.value_counts()['info'] + 1
    
    try:
        deliveries_temp_df = pd.read_csv(match_path, skiprows=no_of_rows_to_skip, header=None)
        deliveries_temp_df.columns = deliveries_cols
        deliveries_temp_df['matchId'] = match_id
        all_deliveries_df = pd.concat([all_deliveries_df, deliveries_temp_df], axis = 0)
    except:
        print(f"Error: {matches_list[i]}")

Error: odis_csv\1040495.csv
Error: odis_csv\325804.csv
Error: odis_csv\375456.csv
Error: odis_csv\64933.csv

In [14]:
# populate over_no & ball_no
all_deliveries_df['over'] = all_deliveries_df['over_ball'].apply(lambda x: str(x).split('.')[0])
all_deliveries_df['ball'] = all_deliveries_df['over_ball'].apply(lambda x: str(x).split('.')[1])

# fixing the order of all columns
all_deliveries_df =all_deliveries_df[['matchId', 'inning', 'over_ball', 'over', 'ball', 'batting_team', 'batsman', 'non_striker',
       'bowler', 'batsman_runs', 'extras', 'isWide', 'isNoBall', 'Byes',
       'LegByes', 'Penalty', 'dismissal_kind', 'player_dismissed']]

In [15]:
# create a df with only matchId, batting_team, bowling_team
new_df = all_deliveries_df[['matchId', 'batting_team']]

In [16]:
# remove duplicates
new_df = new_df.drop_duplicates()

In [17]:
# populate bowling team using the above function
new_df['bowling_team'] = new_df.apply(lambda x: populate_bowling_team(x['matchId'], x['batting_team'], df), axis = 1)

In [18]:
new_df.head()

     matchId batting_team bowling_team
0    1000887  Australia    Pakistan
310  1000887  Pakistan     Australia
0    1000889  Australia    Pakistan
297  1000889  Pakistan     Australia
0    1000891  Pakistan     Australia

In [19]:
# merge new_df only bowling team
all_deliveries_df = all_deliveries_df.merge(new_df, on = ['matchId','batting_team'], how = 'left')

# rearrage column names
all_deliveries_df = all_deliveries_df[['matchId', 'inning', 'over_ball', 'over', 'ball', 
                                       'batting_team', 'bowling_team' , 
                                       'batsman', 'non_striker', 'bowler', 
                                       'batsman_runs', 'extras', 'isWide',
                                       'isNoBall', 'Byes', 'LegByes', 'Penalty', 'dismissal_kind',
                                       'player_dismissed']]

In [20]:
all_deliveries_df.head()

   matchId inning  over_ball over ball batting_team bowling_team    batsman non_striker         bowler batsman_runs extras  isWide  isNoBall  Byes  LegByes  Penalty dismissal_kind player_dismissed
0  1000887  1      0.1        0    1    Australia    Pakistan     DA Warner  TM Head     Mohammad Amir  0            0     NaN     NaN       NaN   NaN      NaN       NaN            NaN
1  1000887  1      0.2        0    2    Australia    Pakistan     DA Warner  TM Head     Mohammad Amir  0            0     NaN     NaN       NaN   NaN      NaN       NaN            NaN
2  1000887  1      0.3        0    3    Australia    Pakistan     DA Warner  TM Head     Mohammad Amir  0            0     NaN     NaN       NaN   NaN      NaN       NaN            NaN
3  1000887  1      0.4        0    4    Australia    Pakistan     DA Warner  TM Head     Mohammad Amir  0            0     NaN     NaN       NaN   NaN      NaN       NaN            NaN
4  1000887  1      0.5        0    5    Australia    Pakistan     DA Warner  TM Head     Mohammad Amir  0            1      1.0    NaN       NaN   NaN      NaN       NaN            NaN

In [21]:
# export file
all_deliveries_df.to_csv('deliveries_updated_odis.csv', index = False)